* {
  margin: 0;
}
body {
  background-color: #f2c62a;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: white;
  position: relative;
  border-radius: 500px;
  #clock-text {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -150px;
    font-size: 3em;
    font-family: cambria;
  }
  #minute-pointer {
    position: absolute;
    left: 0;
  }
  #hour-pointer {
    position: absolute;
    left: 0;
  }
 
}
